* {
    font-family: sans-serif;
    box-sizing: border-box;
}

section {
    background-color: rgba(255, 255, 0, 0.445);
    padding: 5px;
}

h2 {
    height: 25px;
    background-color: #ffffff;
    margin: 0;
}

article {
    background-color: rgba(0, 0, 255, 0.507);
    padding: 10px;
    border-bottom: 5px solid black;
    width: 100%;
    
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .clearfix {
       overflow:auto;
    }
    article {
        float:left;
        width: 50%;
    height:200px;}
    
  }

  @media only screen and (min-width: 1024px)  {
    .clearfix  {
        display: flex;
    }
  }

 /*  Media Queries: Exercise 3

Make this page responsive!
The posts are stacked ontop of one another on a mobile display, your task is to change the posts' positions at different breakpoints: 

> At the breakpoint of 600px display two posts next to one another by using float and clearfix. 
> At the breakpoint of 1024px display all posts side-by-side */