/* Use flexbox to display the divs on one row in the center of the container */
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
}

    div {
    height: 100px;
    width: 100px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}