

body {
    box-sizing: border-box;
    margin: 0 auto;
    
}

.c0 {
    display: flex;
    flex-flow: row wrap;
}

.c0 {
    border: 2px solid red;
}

.c1 {
    background-color: purple;
    
}

.c2 {
    background-color: blueviolet;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: green;
}

.c5 {
    background-color: yellow;
}

.c6 {
    background-color: darkorange;
}

.c7 {
    background-color: red;
}
.c1, .c2, .c3, .c4, .c5 , .c6 , .c7 {height: 20vw;}

@media only screen and (max-width: 600px) {
    .c0 {
        border: 2px solid red;
        display: flex;
        flex-direction: column;  
    }
 }
 
 @media only screen and (min-width: 601px) and (max-width: 950px) {
    .c0 {
        display: flex;
    }
    .c1 {
        width: 100%;
        
    }
    .c2 {
        width: 100%;
    }
    .c6 {
        width: 100%;
    }
    .c7 {
        width: 100%;
    }
    .c3, .c4, .c5 {
        flex-grow: 3;
    }
    
 }
 
 @media only screen and (min-width: 951px) {
    .c0 {
        display: flex;
    }
    .c1, .c2, .c6, .c7 {
        width: 50%;
    }
    .c3, .c4, .c5 {
        width: 33.33%;
    }
    


