body {
    height: 100vh;
    border: 10px solid black;
}

main {
    margin: 15px;
    font-family: sans-serif;
    font-size: 20px;
}

li {
    margin-bottom: 5px;
}
@media only screen and (max-width: 375px) {
    body {
        border: 10px solid red;
        margin: 20px;
        font-size: 15px;
        
        font-family: Arial, Helvetica, sans-serif;
    }
  }

  @media only screen and (min-width: 376px) and (max-width: 425px) {
    body {
        border: 10px solid blue;
        margin: 20px;
        font-size: 15px;
       
        font-family: Arial, Helvetica, sans-serif;
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 768px) {
    body {
        border: 10px solid green;
        margin: 20px;
        padding:20px;
        font-size: 25px;
        color: deeppink;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        border: 10px solid yellow;
        margin: 20px;
        padding:20px;
        font-size: 25px;
        color: deeppink;
    }
  }

  @media only screen and (min-width: 2000px)  {
    body {
        border: 10px solid hotpink;
        font-size: 35px;
    }
    p::first-letter {
        font-size: 200%;
        color: #8A2BE2;
      }
  }
