div{border:6px solid grey; border-radius: 12px;}

    .container 
    {border-radius: 12px;border:6px solid ;
        display: grid; 
    grid-gap:3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px 225px 60px 40px;
    grid-template-areas:
    "h h h h h h h h n n n n"
    "m m m m m m m m m e e e"
    "b b b s s s s s s e e e"
    "f f f f f f f f f f f f" ;
      
    }
   
    ul {
        list-style-type: none;
        margin: 20px 7px;
        padding: 2px;
       /*  position: relative; top:0; */
       
      }
      
      li {
        float: right;text-align: center;
        
      }
      
      li a {
        display: flex;
        padding: 4px;
       text-decoration: none;
       text-align: center;
      
      }

     nav {grid-area: n;
        background-color:gray;border-radius: 12px;border:6px solid grey;}
    header
    {grid-area: h;
     background-color:yellow;border-radius: 12px;border:6px solid yellow;}

    main
    {grid-area: m;
    background-color: orange; border-radius: 12px;border:6px solid orange;}

    .aside1
    {grid-area: e ;
    background-color: green; border-radius: 12px;border:6px solid green ;}

    .aside2 {grid-area: b;
        background-color: green; border-radius: 12px;border:6px solid green;}

    section{grid-area: s;
        background-color: violet; border-radius: 12px;border:6px solid violet;}

    footer
    {grid-area:f;
    background-color: lightgray;border-radius: 12px;border:6px solid lightgray ;
    }

   