/* Use flexbox to display all the flex items in columns. 
Wrap items. 
Set the alignment of the thrid item to center*/

body {
    height: 800px;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}
  #third{align-self: center;} 
/* div:nth-child(3) {align-self: center;} */

div {
    height: 100px;
    width: 150px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}