@mixin sizeborder {
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 100px;
    margin:10px;
}



@mixin move{
   
        background: red;
        position :relative;
         animation: mymove 5s infinite;
         animation-timing-function: linear;
    
      @keyframes mymove {
        from {left: 0px;}
        to {left: 1000px;}
      }
}

@mixin my-border($my-color){
   border: 8px solid $my-color;
}

.ball1, .ball2, .ball3 {
    @include sizeborder;
    @include move;
}
.ball1{
    @include my-border(green)
}

.ball2{
    @include my-border(yellow)
}
.ball3{
    @include my-border(blue)
}