html, body {
  background: #ffcc5c;
  color: #ff6f69; }

h1, p {
  color: #ff6f69; }

#navbar a {
  color: #ff6f69; }

.item {
  background: #ffeead; }

button {
  background: #ff6f69;
  color: #ffeead; }
